@import 'config/variables';
@import "mixins/gradient-text";
@import "mixins/center";
@import "mixins/media-queries";
@import 'components/composition';
@import 'pages/home';
@import "layout/header";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/bg-video";
@import "components/form";
@import "components/popup";
@import 'components/buttons';
@import 'layout/grid';
@import "layout/footer";
@import "layout/navigation";
@import 'layout/typography';
@import 'config/utilitites';

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px
  }


  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px
  }

  @include respond(big) {
    font-size: 80%; // 1 rem = 12
  }


}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;

  @include respond(tab-port) {
    padding: 0;
  }
}