body {
  margin: 0;
  font-family: Ubuntu;

}

.btn {
  background: black;
  color: white;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  border: 2px solid white;
  display: inline-block;
  border-radius: 5px;

  transition: all .3s;

  &:hover {
  }
}


.row {
  max-width: 144rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: space-around;

  .col {
    flex-grow: 1;
    margin: 0 2.5rem
  }

}

.pok-version-chooser {

  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background: #f7f7f7;

  transition: all .2s;

  &:hover {
    box-shadow: inset 0 0 4rem rgba(black, .4);

  }

}

.card {
  width: 35rem;
  height: 22rem;
  margin: auto;
  transition: all .4s;
  overflow: hidden;
  background: white;

  position: relative;

  box-shadow: 0 .5rem 2rem rgba(black, 0.7);

  &__button {
    opacity: 0;
    transform: scale(0.5) translateY(10em) translateX(-0rem);
    transition: all .3s;
    z-index: 100;
    background: black;

    &:hover {
      animation: shadowGlow 6s ease-in-out infinite;

      //&::before {position: fixed;content: "";top: -2px;left: -2px;z-index: -2;background: red;width: calc(100% + 4px);height: calc(100% + 4px);}
    }
  }

  &__side {
    width: 100%;
    height: 20rem;

    transition: all .15s ease-in-out;
    position: absolute;

    box-sizing: border-box;
    text-align: center;
    padding: 10rem 0;


    &--top {
      z-index: 2;
      top: 0;

      clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 98%, 90% 100%, calc(90% - 2px) 0%, calc(90% - 1px) 98%, 85% 98%, 80% 100%, 75% 98%, calc(75% - 2px) 25%, calc(75% - 1px) 98%, 70% 100%, 65% 98%, 60% 100%, calc(60% - 2px) 0%, calc(60% - 1px) 98%, 55% 98%, 50% 100%, 45% 98%, calc(45% - 2px) 0%, calc(45% - 1px) 98%, 40% 100%, 35% 98%, 30% 100%, calc(30% - 2px) 15%, calc(30% - 1px) 98%, 25% 98%, 20% 100%, 15% 98%, calc(15% - 2px) 0%, calc(15% - 1px) 98%, 10% 100%, 5% 98%, 0 100%);


      font-size: 2.8rem;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      letter-spacing: 8px;
      text-shadow: 0 0 4rem black;

      &--1 {
        background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &--2 {
        background: linear-gradient(to right, #42275a, #734b6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }

    &--bottom {
      z-index: 0;

      display: table-cell;

      height: 100%;


      &--1 {
        background: black;
      }

      &--2 {
        background: black;
      }
    }
  }


  &:hover {
    z-index: 1000;
    position: relative;

    animation: shadowIllumination 9s ease-in infinite;

    .card__side {
      &--top {
        top: -18rem;
        color: red;
      }

      &--bottom {
        top: 0;
      }
    }

    .card__button {
      transform: translate(0, -2rem) scale(1.01);
      opacity: 1;
      z-index: 1000;
    }

  }
}

.heading-3 {
  margin: auto;
  font-size: 5rem;
  color: transparent;

  background: linear-gradient(to left, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  text-shadow: 1.5rem 0 4.5rem rgba(black, 0.4);
  transition: all 0.2s;

  animation: slideY .7s ease-in-out;

  &:hover {
    transform: skewY(3deg) scale(1.15);
  }
}

@keyframes slideY {
  0% {
    transform: translateY(-15rem);
  }

  80% {
    transform: translateY(1.9rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideXLeft {
  0% {
    transform: translateX(5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideXRight {
  0% {
    transform: translateX(-5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shadowGlow {
  0% {
    box-shadow: 0 0 2rem rgba(white, 0.5);
  }

  50% {
    box-shadow: 0 0 3rem rgba(white, 0.9);
  }

  100% {
    box-shadow: 0 0 2rem rgba(white, 0.5);
  }
}

.slide-x-left {
  animation: slideXLeft .8s;
  animation-iteration-count: 1;
}

.slide-x-right {
  animation: slideXRight .8s;
  animation-iteration-count: 1;

}

@keyframes shadowIllumination {
  0%, 100% {
    box-shadow: -2rem -0.9rem 4rem transparentize(red, .3), -2rem 0.9rem 4rem dodgerblue, 2rem 0.9rem 4rem yellow, 2rem -0.9rem 4rem green ;

  }

  25% {
    box-shadow: 2rem -0.9rem 4rem transparentize(red, .3), -2rem -0.9rem 4rem dodgerblue, -2rem 0.9rem 4rem yellow, 2rem 0.9rem 4rem green  ;

  }

  50% {
    box-shadow: 2rem 0.9rem 4rem transparentize(red, .3), 2rem -0.9rem 4rem dodgerblue, -2rem -0.9rem 4rem yellow, -2rem 0.9rem 4rem green;

  }

  75% {
    box-shadow: -2rem 0.9rem 4rem transparentize(red, .3), 2rem 0.9rem 4rem dodgerblue, 2rem -0.9rem 4rem yellow, -2rem -0.9rem 4rem green;

  }
}

$border: 5px;


.gradient-box {
  padding: 1rem;
  max-width: 45rem;
  height: 12rem;

  position: relative;

  overflow: hidden;
  background: transparent;
  z-index: 2;

  &:before {
    position: absolute;
    top: -25rem;
    left: -25rem;
    bottom: -25rem;
    right: -25rem;
    background: linear-gradient(to bottom left, red, dodgerblue);
    content: "";
    z-index: 1;

    animation: rotate 2s linear infinite;
  }

  &__content {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 8px;
    right: 4px;
    background: white;
    height: 100%;
    z-index: 3;
  }

  &--animated {
    //animation: animated-gradient-border 2s linear infinite;
  }
}

