.header {
  height: 95vh;
  background-image: linear-gradient(to top left, rgba($color-primary, .8), rgba($color-primary-dark, .8)), url(../img/hero.jpg);
  color: $color-white;
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center;
  clip-path: polygon(
                  0 0,
                  100% 0,
                  100% 80vh,
                  0 100%
  );

  @include respond(phone) {
    height: 40vh;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 90vh,
                    0 100%
    );
  }

  &__logo-box {
    position: absolute;
    top: 4.0rem;
    left: 4.0rem;
  }

  &__logo {
    max-height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .heading-primary {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5rem;
    padding: 2rem 5rem;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;

      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }

    &--sub {
      display: block;
      font-size: 2rem;
      letter-spacing: 1.75rem;

      @include respond(phone) {
        letter-spacing: .2rem;
        font-size: 2rem;
      }
    }


  }


  &__firm-logo {

  }

  &__heading--primary {
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 1.4rem;
    margin-bottom: 0;
  }

  &__heading--secondary {
    margin-top: -1.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.24rem;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }



}