.u-center-text {
  text-align: center !important;
}

.mb- {
  &xlg {
    margin-bottom: $space-xlg !important;
  }

  &lg {
    margin-bottom: $space-lg !important;

    @include respond(tab-port) {
      margin-bottom: 5rem !important;
    }
  }

  &md {
    margin-bottom: $space-md !important;
  }

  &sm {
    margin-bottom: $space-sm !important;
  }
}

.mt- {

  &xlg {
    margin-top: $space-xlg !important;
  }

  &lg {
    margin-top: $space-lg !important;
  }

  &md {
    margin-top: $space-md !important;
  }

  &sm {
    margin-top: $space-sm;
  }
}