.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -22rem;

  @include respond(tab-port) {
    padding: 20rem 0;
    margin-top: -12rem;

  }
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary, 0.8),
                  rgba(0, 0, 0, 0.8)
  ), url(../img/nat-4.jpg);

  background-size: cover;
  //clip-path: polygon(0 25%, 75% 0, 100% 0, 100% 75%, 25% 100%, 0 100%);

  transform: skewY(-7deg);
  margin-top: -9.5rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }

}

.section-tours {
  background-color: $color-grey-light-1;
  margin-top: -9.5rem;
  padding: 25rem 0 15rem 0;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
                  105deg,
                  rgba($color-white, .9) 50%,
                  rgba($color-white, .9) 50%,
                  transparent calc(40% + 1px)
  ), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}