/*
  @breakpoint arument choices
  - phone
  - tab-port
  - tab-land
  - big
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: calc(60rem/1.6)) {
      @content
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: calc(90rem/1.6)) {
      @content
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: calc(120rem/1.6)) {
      @content
    }
  }

  @if $breakpoint == big {
    @media (min-width: calc(180rem/1.6)) {
      @content
    }
  }
}