<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<main>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon"></span>
        </label>
        <div class="navigation__background"></div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>1. </span>
                        About Natous
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>2. </span>

                        Your benefits </a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>3. </span>

                        Popular tours
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        <span>4. </span>

                        Stories
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="#popup" class="navigation__link">
                        <span>5. </span>
                        Book now
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="header__logo-box">
            <img src="img/logo-white.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">
                    Outdoors
                </span>
                <span class="heading-primary--sub">
                    Is is where life happens
                </span>
            </h1>
            <a href="#section-tours" class="btn btn--white btn--animated">Discover our tours</a>
        </div>
    </header>
    <section class="section-about">
        <div class="u-center-text mb-lg">
            <h2 class="heading-secondary">
                Exciting tours for adventeours people
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary mb-sm">
                    You're going to fall love in nature
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iure praesentium tenetur dolores voluptates, inventore possimus.
                </p>
                <h3 class="heading-tertiary mb-sm">
                    Love adevntures like you never have before
                </h3>
                <p class="paragraph">
                    Tempore, blanditiis mollitia ullam at dignissimos quisquam, totam quasi, officiis doloribus natus
                    alias
                    possimus vero. In, omnis?
                </p>
                <a href="#" class="btn-text">
                    Learn more &rarr;
                </a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                    <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                    <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>
    <section class="section-features">

        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon ion-ios-world-outline"></i>
                    <h3 class="heading-tertiary mb-sm">
                        Explore the world
                    </h3>
                    <p class="feature-box__test">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A dolore dolorum ducimus eaque magnam quas qui vel voluptatum.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon ion-compass"></i>
                    <h3 class="heading-tertiary mb-sm">
                        Explore the world
                    </h3>
                    <p class="feature-box__test">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A dolore dolorum ducimus eaque magnam quas qui vel voluptatum.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon ion-ios-heart-outline"></i>
                    <h3 class="heading-tertiary mb-sm">
                        Explore the world
                    </h3>
                    <p class="feature-box__test">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A dolore dolorum ducimus eaque magnam quas qui vel voluptatum.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon ion-map"></i>
                    <h3 class="heading-tertiary mb-sm">
                        Explore the world
                    </h3>
                    <p class="feature-box__test">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A dolore dolorum ducimus eaque magnam quas qui vel voluptatum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tours" id="section-tours">
        <div class="u-center-text mb-lg">
            <h2 class="heading-secondary">
                Most popular tours
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front card__side--front--1">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">
                                 The sea explorer
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>3 day tours</li>
                                <li>Up to 30 people</li>
                                <li>2 tor guides</li>
                                <li>Sleep in crazy hotels</li>
                                <li>Difficulty: easy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back--1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    497
                                </p>
                            </div>
                            <a href="#popup" class="btn btn--white">
                                Book now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front card__side--front--2">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">
                                The forest hiker
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>7 day tours</li>
                                <li>Up to 40 people</li>
                                <li>6 tor guides</li>
                                <li>Sleep in provided tents</li>
                                <li>Difficulty: easy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back--2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    $497
                                </p>
                            </div>
                            <a href="#popup" class="btn btn--white">
                                Book now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front card__side--front--3">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">
                                 The snow in adventurer
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>5 day tours</li>
                                <li>Up to 15 people</li>
                                <li>2 tor guides</li>
                                <li>Sleep in provident tents</li>
                                <li>Difficulty: hard</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back--3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">
                                    Only
                                </p>
                                <p class="card__price-value">
                                    $897
                                </p>
                            </div>
                            <a href="#popup" class="btn btn--white">
                                Book now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="u-center-text mt-xlg">
            <a href="#" class="btn btn--green">
                Discover all tours
            </a>
        </div>

    </section>


    <section class="section-stories">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/video.mp4" type="video/mp4">
                <source src="img/video.webm" type="video/webm">
                Your browser is not suported!
            </video>
        </div>
        <div class="u-center-text mb-lg">
            <h2 class="heading-secondary">
                We make people genuinely happy
            </h2>
        </div>

        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="img/nat-8.jpg" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">
                        Merry Smith
                    </figcaption>
                </figure>

                <div class="story__text">
                    <h3 class="heading-tertiary mb-sm">
                        I ad the best week with my family
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid consequatur expedita illo
                        mollitia nam non ratione. Accusamus aliquam autem distinctio dolore eligendi error expedita id
                        inventore iste modi possimus, provident quisquam ratione repellat reprehenderit sapiente sequi
                        tempore temporibus voluptate voluptatem! Blanditiis deserunt hic non, quam recusandae reiciendis
                        sapiente vitae!
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="img/nat-9.jpg" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">
                        Jack Wilson
                    </figcaption>
                </figure>

                <div class="story__text">
                    <h3 class="heading-tertiary mb-sm">
                        WOW! My life is completely different now
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid consequatur expedita illo
                        mollitia nam non ratione. Accusamus aliquam autem distinctio dolore eligendi error expedita id
                        inventore iste modi possimus, provident quisquam ratione repellat reprehenderit sapiente sequi
                        tempore temporibus voluptate voluptatem! Blanditiis deserunt hic non, quam recusandae reiciendis
                        sapiente vitae!
                    </p>
                </div>
            </div>
        </div>


        <div class="u-center-text mt-xlg">
            <a href="#" class="btn-text">
                Read all stories &rarr;
            </a>
        </div>

    </section>


    <section class="section-book">
        <div class="row">
            <div class="book">
                <div class="book__form">
                    <form action="#" class="form">
                        <div class="mb-md">
                            <h2 class="heading-secondary">
                                Start booking now
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Full name" id="name" required
                                   autocomplete="off">
                            <label for="name" class="form__label">Full name</label>
                        </div>
                        <div class="form__group">
                            <input type="email" class="form__input" placeholder="Email" id="email" required
                                   autocomplete="off">
                            <label for="email" class="form__label">Email</label>
                        </div>

                        <div class="form__group">
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="small" name="size">
                                <label for="small" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                    Small tour group
                                </label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="large" name="size">
                                <label for="large" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                    Large tour group
                                </label>
                            </div>
                        </div>

                        <div class="form__group">
                            <div class="mt-md">
                                <button class="btn btn--green">
                                    Next step &rarr;
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box">
        <img src="img/logo-green-2x.png" alt="Full logo" class="footer__logo"/>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Contact us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Carrers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Privacy policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Terms</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-1-of-2">
            <p class="footer__copyright">
                Build my <a href="$" class="footer__link">Jonas Schmedtmann</a> for his online course <a href="#" class="footer__link">Advanced
                CSS and Sass</a>.
                Copyright &copy; by Jonas Schmedtmann. You are 100% allowed to use this webpage for both personal
                and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas
                Schmedtmann, is of course highly appreciated!
            </p>
        </div>
    </div>
</footer>

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/nat-8.jpg" alt="Tour photography" class="popup__img">
            <img src="img/nat-9.jpg" alt="Tour photography" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary md-sm">
                Start booking now
            </h2>
            <h3 class="heading-tertiary mb-sm">
                Important &ndash; Please read these terms before booking
            </h3>
            <p class="popup__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dicta dolor ea excepturi minus numquam odit quia rem repellat, suscipit?
                Accusamus aperiam consequatur consequuntur corporis dignissimos dolores ea enim esse eveniet fugiat impedit in magnam minima mollitia nam necessitatibus nisi nobis non optio praesentium provident, quas reiciendis tempora vel voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam est molestias praesentium quia quisquam ratione rerum sequi soluta vitae voluptate. Ad iusto necessitatibus nisi nobis? Ad aperiam dolorum explicabo facilis minima molestiae, neque nihil pariatur placeat repellat sapiente, tempora, unde.
            </p>
            <a href="#popup" class="btn btn-green">Book now</a>
        </div>
    </div>
</div>

</body>

</html>
