.composition {
  position: relative;
  padding: 20rem 0;

  &:hover {
    .composition__photo:not(:hover) {
      transform: scale(0.8);
    }
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.40);
    position: absolute;
    transition: all .3s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
    }

    &:hover {
      z-index: 3;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }

  &__photo--p1 {
    left: 0;
    top: -2rem;
    @include respond(tab-port) {
      top: 0;
      transform: scale(1.1);
    }
  }

  &__photo--p2 {
    top: 2rem;
    right: 0;
    @include respond(tab-port) {
      top: -1rem;
      transform: scale(1.34);
      z-index: 100;
    }
  }

  &__photo--p3 {
    top: 10rem;
    left: 20%;

    @include respond(tab-port) {
      top: 1.5rem;
      left: 0;
      transform: scale(1.1);

    }
  }

}





