.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-black, .9);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .36s;


  &__content {
    @include center;
    position: relative;
    width: 75%;
    background: $color-white;
    color: black;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);

    border-radius: 3px;

    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(.25) ;
    transition: all .4s .2s;
  }


  &__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      text-decoration: none;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      transition: color .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

}